{% extends 'cv/index.html' %}
{% block head %}
<link rel="canonical" href="http://www.glen-peden.fr/about"/>
{% endblock %}
{% block content %}

<header id="head" class="secondary"></header>

<!-- container -->
<div class="container">

	<ol class="breadcrumb">
		<li><a href="{% url 'mainpage' %}">Accueil</a></li>
		<li class="active">A propos</li>
	</ol>

	<div class="row">

		<!-- Article main content -->
		<article class="col-sm-8 maincontent">
			<header class="page-header">
				<h1 class="page-title">Qui suis-je ?</h1>
			</header>
			<h3>Expériences</h3>

			<h4><strong>Groupe Asten (septembre 2018 - août 2020)</strong></h4>
			<p>Développement de plusieurs portails intranet et extranet pour les clients de l'entreprise</p>
			<p>Mise en place de test informatique (sujet de mémoire) au sein d'une équipe de développement</p>
			<p>Travail en équipe au sein du pôle "Développement" de l'entreprise</p>
			<p>Développement d'un portail intranet qui permet la gestion des congés et des activités des collaborateurs de l'entreprise.</p>
			<p>Mise en oeuvre de la solution liferay pour les différents développements de portail</p>
			<p>Assistance en gestion de projet (aide à l'estimation de la charge travaille, gestion des demandes clients, etc...)</p>

			<h4><strong>Aresat (janvier 2018 - mars 2018)</strong></h4>
			<p>Création d'une application android destinée aux travailleurs dans les ESAT possédant une RQTH.</p>
			<p>Utilisation de l'API de Google Map sous Android</p>

			<h4><strong>Tanguy Matériaux (mai 2017 - juin 2017)</strong></h4>
			<p>Création de formulaire sous Drupal 8</p>
			<p>Utilisation de l'API de GLPI</p>
			<p>Envoi automatique de formulaire par E-Mail</p>

			<h3>Formations</h3>

			<h4><strong>CESI, Brest - Formation Responsable en Ingénierie des Logiciels</strong></h4>
			<p>De septembre 2018 à août 2020</p>
			<p>Cours sur les différentes méthodes de développement</p>
			<p>Cours sur la gestion de projet</p>
			<p>Introduction à différents langages de programmation</p>
			<p>Ecriture et soutenance d'un mémoire sur les tests informatiques</p>

			<h4><strong>Charles de foucauld, Brest - BTS Service Informatique aux Organisations</strong></h4>
			<p>De septembre 2016 à juin 2018</p>
			<p>Découverte et études du développement informatique</p>
			<p>Etudes de la base en infrastructure réseau et matériel</p>

			<h4><strong>Lycée La Croix Rouge, Brest - Bac STI2D</strong></h4>
			<p>De septembre 2013 à juillet 2016</p>
			<p>Premiers pas en programmation avec des Raspberry Pi</p>

			<h3>Loisirs</h3>
			<ul>
				<li><p>Ecouter de la musique</p></li>
				<li><p>Etude de la culture et de la langue bretonne</p></li>
				<li><p>Soccer</p></li>
				<li><p>Course à pied</p></li>
				<li><p>VTT</p></li>
			</ul>
		</article>
		<!-- /Article -->

		<!-- Sidebar -->
		<aside class="col-sm-4 sidebar sidebar-right">

			<div class="widget">
				<h3>Compétences</h3>
				<h4><strong>Langages de programmation</strong></h4>
				<div class="progress-wrapper">
					<div class="progress-item">
						<span class="progress-title">Java</span>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
								 aria-valuemax="80" style="width: 80%"><span class="progress-percent"> 80%</span>
							</div>
						</div>
						<!-- .progress -->
					</div>
					<div class="progress-item">
						<span class="progress-title">HTML/CSS</span>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
								 aria-valuemax="80" style="width: 80%"><span class="progress-percent"> 80%</span>
							</div>
						</div>
						<!-- .progress -->
					</div>
					<div class="progress-item">
						<span class="progress-title">Ionic/Angular</span>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
								 aria-valuemax="80" style="width: 80%"><span class="progress-percent"> 80%</span>
							</div>
						</div>
						<!-- .progress -->
					</div>
					<div class="progress-item">
						<span class="progress-title">DJango</span>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0"
								 aria-valuemax="40" style="width: 40%"><span class="progress-percent"> 40%</span>
							</div>
						</div>
						<!-- .progress -->
					</div>
					<div class="progress-item">
						<span class="progress-title">Javascript</span>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0"
								 aria-valuemax="50" style="width: 50%"><span class="progress-percent"> 50%</span>
							</div>
						</div>
						<!-- .progress -->
					</div>
					<div class="progress-item">
						<span class="progress-title">JEE(Spring)</span>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
								 aria-valuemax="60" style="width: 60%"><span class="progress-percent"> 60%</span>
							</div>
						</div>
						<!-- .progress -->
					</div>
					<!-- .skill-progress -->
					<h4><strong>Base de données</strong></h4>
					<div class="progress-wrapper">
						<div class="progress-item">
							<span class="progress-title">SQL</span>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
									 aria-valuemax="90" style="width: 90%"><span class="progress-percent"> 90%</span>
								</div>
							</div>
							<!-- .progress -->
						</div>
						<!-- .skill-progress -->
					</div>
					<div class="progress-wrapper">
						<div class="progress-item">
							<span class="progress-title">Postgres SQL</span>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
									 aria-valuemax="80" style="width: 80%"><span class="progress-percent"> 80%</span>
								</div>
							</div>
							<!-- .progress -->
						</div>
						<!-- .skill-progress -->
					</div>
					<div class="progress-wrapper">
						<div class="progress-item">
							<span class="progress-title">PL/SQL</span>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
									 aria-valuemax="70" style="width: 70%"><span class="progress-percent"> 70%</span>
								</div>
							</div>
							<!-- .progress -->
						</div>
						<!-- .skill-progress -->
					</div>
					<h4><strong>IDE</strong></h4>
					<div class="progress-wrapper">
						<div class="progress-item">
							<span class="progress-title">Eclipse</span>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
									 aria-valuemax="80" style="width: 80%"><span class="progress-percent"> 80%</span>
								</div>
							</div>
							<!-- .progress -->
						</div>
						<!-- .skill-progress -->
					</div>
					<div class="progress-wrapper">
						<div class="progress-item">
							<span class="progress-title">Visual Studio Code</span>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
									 aria-valuemax="80" style="width: 80%"><span class="progress-percent"> 80%</span>
								</div>
							</div>
							<!-- .progress -->
						</div>
						<!-- .skill-progress -->
					</div>
					<div class="progress-wrapper">
						<div class="progress-item">
							<span class="progress-title">Android Studio</span>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
									 aria-valuemax="60" style="width: 60%"><span class="progress-percent"> 60%</span>
								</div>
							</div>
							<!-- .progress -->
						</div>
						<!-- .skill-progress -->
					</div>
					<h4><strong>Langues</strong></h4>
					<div class="progress-wrapper">
						<div class="progress-item">
							<span class="progress-title">Anglais</span>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
									 aria-valuemax="90" style="width: 90%"><span class="progress-percent"> 90%</span>
								</div>
							</div>
							<!-- .progress -->
						</div>
						<!-- .skill-progress -->
					</div>
					<div class="progress-wrapper">
						<div class="progress-item">
							<span class="progress-title">Espagnol</span>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0"
									 aria-valuemax="40" style="width: 40%"><span class="progress-percent"> 40%</span>
								</div>
							</div>
							<!-- .progress -->
						</div>
						<!-- .skill-progress -->
					</div>
					<h4><strong>Divers</strong></h4>
					<div class="progress-wrapper">
						<div class="progress-item">
							<span class="progress-title">Git/SVN</span>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
									 aria-valuemax="80" style="width: 80%"><span class="progress-percent"> 80%</span>
								</div>
							</div>
							<!-- .progress -->
						</div>
						<!-- .skill-progress -->
					</div>
					<div class="progress-wrapper">
						<div class="progress-item">
							<span class="progress-title">Docker</span>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0"
									 aria-valuemax="30" style="width: 30%"><span class="progress-percent"> 30%</span>
								</div>
							</div>
							<!-- .progress -->
						</div>
						<!-- .skill-progress -->
					</div>
					<div class="progress-wrapper">
						<div class="progress-item">
							<span class="progress-title">Talend</span>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
									 aria-valuemax="70" style="width: 70%"><span class="progress-percent"> 70%</span>
								</div>
							</div>
							<!-- .progress -->
						</div>
						<!-- .skill-progress -->
					</div>
					<div class="progress-wrapper">
						<div class="progress-item">
							<span class="progress-title">Windows/Linux</span>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0"
									 aria-valuemax="85" style="width: 85%"><span class="progress-percent"> 85%</span>
								</div>
							</div>
							<!-- .progress -->
						</div>
						<!-- .skill-progress -->
					</div>
					<div class="progress-wrapper">
						<div class="progress-item">
							<span class="progress-title">Gestion de projet </span>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0"
									 aria-valuemax="50" style="width: 50%"><span class="progress-percent"> 50%</span>
								</div>
							</div>
							<!-- .progress -->
						</div>
						<!-- .skill-progress -->
					</div>
					<div class="progress-wrapper">
						<div class="progress-item">
							<span class="progress-title">UML</span>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
									 aria-valuemax="80" style="width: 80%"><span class="progress-percent"> 80%</span>
								</div>
							</div>
							<!-- .progress -->
						</div>
						<!-- .skill-progress -->
					</div>
					<div class="progress-wrapper">
						<div class="progress-item">
							<span class="progress-title">Birt</span>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
									 aria-valuemax="70" style="width: 70%"><span class="progress-percent"> 70%</span>
								</div>
							</div>
							<!-- .progress -->
						</div>
						<!-- .skill-progress -->
					</div>
					<div class="progress-wrapper">
						<div class="progress-item">
							<span class="progress-title">Outils Atlassian (Jira/Confluence/Bitbucket)</span>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0"
									 aria-valuemax="65" style="width: 65%"><span class="progress-percent"> 65%</span>
								</div>
							</div>
							<!-- .progress -->
						</div>
						<!-- .skill-progress -->
					</div>
					<div class="progress-wrapper">
						<div class="progress-item">
							<span class="progress-title">Liferay</span>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
									 aria-valuemax="90" style="width: 90%"><span class="progress-percent"> 90%</span>
								</div>
							</div>
							<!-- .progress -->
						</div>
						<!-- .skill-progress -->
					</div>
				</div>
			</div>

		</aside>
		<!-- /Sidebar -->

	</div>
</div>	<!-- /container -->


{% endblock %}