{% extends 'cv/index.html' %}
{% block head %}
<link rel="canonical" href="https://www.glen-peden.fr"/>
{% endblock %}
{% block content %}
	<!-- Header -->
	<header id="head">
		<div class="container">
			<div class="row">
				<h1 class="lead">Glen Peden - Développeur débutant</h1>
				<p class="tagline">Développeur Web & Java</a></p>
				<p><a class="btn btn-default btn-lg" role="button" href="{% url 'about' %}">PLUS D'INFORMATIONS</a> <a class="btn btn-action btn-lg" role="button" href="../../static/files/CV-glen-peden.pdf" target="_blank">Télécharger mon CV</a></p>
			</div>
		</div>
	</header>
	<!-- /Header -->

	<!-- Intro -->
	<div class="container text-center">
		<br> <br>
		<h2 class="thin">Qui suis-je ?</h2>
		<p class="text-muted">
			Je me présente, Glen Peden, jeune développeur Web & Java de 21 ans.<br>
			Je suis actuellement en alternance dans la formation "Responsable en ingénierie des logiciels" au CESI<br> et je travaille, dans le cadre de ma formation, en tant que développeur pour l'entreprise <a href="https://www.groupe-asten.fr/">Groupe Asten</a>.<br>
			Je vous invite à consulter la partie <a href="{% url 'about' %}">à propos</a> pour en savoir plus à mon sujet.
		</p>
	</div>
	<!-- /Intro-->

	<!-- Highlights - jumbotron -->
	<div class="jumbotron top-space">
		<div class="container">

			<h3 class="text-center thin">Mes principales compétences</h3>

			<div class="row">
				<div class="col-md-4 col-sm-8 highlight">
					<div class="h-caption"><h4><i class="fa fa-cogs fa-5"></i>Polyvalent</h4></div>
					<div class="h-body text-center">
						<p>Malgré mon expérience relativement limitée que j'ai ,du fait de mon âge, j'ai tout de même été amené à travailler sur de nombreux sujets très différents les uns des autres au cours de mon alternance, de mes stages de BTS et lors de la formation au CESI.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-8 highlight">
					<div class="h-caption"><h4><i class="fa fa-heart fa-5"></i>Le Java</h4></div>
					<div class="h-body text-center">
						<p>J'ai découvert le Java en BTS (cours puis stages).Je l'ai étudié lors de ma formation au CESI et utilisé au quotidien lors de mon alternance au sein de Groupe Asten. C'est un langage que j'apprécie particuliérement notamment pour la rigueur qu'il impose.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-8 highlight">
					<div class="h-caption"><h4><i class="fa fa-smile-o fa-5"></i>Le plaisir de développer</h4></div>
					<div class="h-body text-center">
						<p>Au départ de mes études, je ne m'étais pas dit que le métier de développeur m'était déstiné. J'aimais l'informatique donc je me suis orienté dans un BTS "Service informatique aux organisations". J'y ai découvert le développement et c'est lors des stages de BTS que j'ai découvert le plaisir du développement.</p>
					</div>
				</div>
			</div> <!-- /row  -->

		</div>
	</div>
	<!-- /Highlights -->

	<!-- container -->
	<div class="container">

		<h2 class="text-center top-space">Quelques infos...</h2>
		<br>

		<div class="row">
			<div class="col-sm-6">
				<h3>Mon Parcours ?</h3>
					<p>2013-2016 : Bac Technologique STI2D option informatique.</p>
					<p>2016-2018 : BTS SIO option développeur</p>
					<p>2018-2020 : Formation RIL au CESI</p>
			</div>
			<div class="col-sm-6">
				<h3>Les oportunités ?</h3>
				<p>Je suis actuellement en alternance jusqu'en Août 2020. N'hésitez pas cependant à me contacter pour diverses raisons, je suis à l'écoute pour toutes opportunités et/ou propositions.</p>

			</div>
		</div> <!-- /row -->

		<div class="row">
			<div class="col-sm-6">
				<h3>Les langages de développement ? </h3>
				<p>Comme précisé plus haut, le langage que j'affectionne particulièrement est le Java. Je suis également capable de développer dans des langages comme le HTML/CSS, Ionic (alternance) ou encore Django (ce site). Malgré tout, je pense que le plus important pour un développeur est sa logique.</p>
			</div>
			<div class="col-sm-6">
				<h3>Mes loisirs ?</h3>
				<p>Autre que le développement, j'ai d'autres loisirs comme le soccer, la course à pied, les jeux vidéos ou encore le VTT. J'écoute beaucoup de musique également.</p>
			</div>
		</div> <!-- /row -->

		<div class="jumbotron top-space">
			<h4>Si vous souhaitez en savoir plus, je vous invite à télécharger mon CV ci-dessus ou à cliquez sur le bouton ci-dessous.</h4>
     		<p class="text-right"><a class="btn btn-primary btn-large" href="{% url 'about' %}">En savoir plus »</a></p>
  		</div>

</div>	<!-- /container -->

	<!-- Social links. @TODO: replace by link/instructions in template -->
	<section id="social">
		<div class="container">
			<div class="wrapper clearfix">
				<!-- AddThis Button BEGIN
				<div class="addthis_toolbox addthis_default_style">
				<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
				<a class="addthis_button_tweet"></a>
				<a class="addthis_button_linkedin_counter"></a>
				<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
				</div>
				AddThis Button END -->
			</div>
		</div>
	</section>
	<!-- /social links -->






{% endblock %}
